
body{
  background-color: #bbf3ff;
}

.conreiner{
  width: 200px;

}
.pad {
  font-size: 300px;
  color: #ff2860;
  text-transform: uppercase;
  text-align: center;

}

.loremText{
  color: azure;
}